@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
  --bg-color: #4b2ea1;
  --main-color: #fcfcfc;
  --content-color: #000000;
  --sub-content-color: #222222;
  --sub-color: #f9e893;
  --hover-color: #efbd4c;
  --shadow-color: hsla(226, 20%, 63%, 0.3);
  --accent-color: #4b2ea1;

  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--content-color);
  background-color: var(--main-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: var(--shadow-color);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: var(--sub-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-color);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
}

h1 {
  font-size: 3.2em;
  margin: 0;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  color: var(--accent-color);
  font-size: clamp(1.1rem, 1.8vw, 2rem);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--main-color);
}

main > h1 {
  text-align: center;
}

main p {
  margin-bottom: 3rem;
  text-align: center;
}

main button {
  padding: 0.8rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--sub-color);
  border-radius: 1rem;
  border: 1px solid var(--sub-color);
  background-color: var(--bg-color);
}

main button:hover {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
  background-color: #432699;
}

section {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

section > h2 {
  margin: 0.5em 0;
  font-size: clamp(1rem, 6vw, 2.4rem);
  text-align: center;
  font-family: var(--title-font);
}

section > a {
  display: inline-block;
  padding: 0.5rem 0.8rem;
}

/* Presentation */
#presentation a {
  color: var(--accent-color);
}

.partners {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.partners img {
  margin: 1rem 0;
  width: 80px;
  transition: 0.6s all;
  border-radius: 1rem;
}

.partners img:hover {
  /* filter: saturate(10%) hue-rotate(-30deg); */
  translate: 0 -0.5rem;
}

.partners img:active {
  translate: 0 0;
}

/* Projects */
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid img {
  width: 100%;
  filter: saturate(10%) hue-rotate(-30deg);
  transition: 0.6s all;
  border-radius: 1rem;
}

.grid img:hover {
  filter: none;
  translate: 0 -0.5rem;
}

.grid img:active {
  translate: 0 0;
}

.project > p {
  font-family: var(--subtitle-font);
  color: var(--content-color);
  padding: 0 1.5rem;
}

.project > p a {
  color: var(--accent-color);
}

.workshop p {
  color: #444444;
}

#endpoint {
  max-width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 8rem;
  color: var(--main-color);
  font-size: 0.8rem;
  background-color: var(--sub-content-color);
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  position: fixed;
  justify-content: center;
}

footer > a {
  width: 4rem;
  height: 4rem;
  padding: 1em;
  display: flex;
  box-sizing: border-box;
  transition: 0.5s all;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: var(--bg-color);
}

@media (max-width: 600px) {
  footer > a {
    width: 3.4rem;
    height: 3.4rem;
    padding: 0.8em;
  }
}

footer > a:hover {
  opacity: 1;
  margin-top: -0.5rem;
}

footer > a:hover path {
  fill: var(--hover-color);
}

footer > a:active {
  transform: none;
  box-shadow: none;
  margin-top: 0;
}

footer > a:not(:last-child) {
  margin-right: 0.8rem;
}

/* Animations */

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

main > div {
  opacity: 0;
  animation: 0.5s appear ease-in-out forwards;
}

main > h1 {
  opacity: 0;
  animation: 0.5s appear ease-in-out forwards 0.2s;
}

main > h2 {
  opacity: 0;
  animation: 0.5s appear ease-in-out forwards 0.4s;
}

main > p {
  opacity: 0;
  animation: 0.5s appear ease-in-out forwards 0.5s;
}

main > a {
  opacity: 0;
  animation: 0.5s appear ease-in-out forwards 0.6s;
}

footer > * {
  opacity: 0;
  animation: 0.5s appear ease-in-out forwards
    calc(var(--footer-index, 0) * 0.1s + 0.8s);
}
